body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
  background-image: url('/public/background-addon.webp');
  background-repeat: no-repeat;
  background-position: left 100% bottom ; 
  background-size: auto 63%; 
  background-attachment: fixed;
}

.heading {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #28a3c6; 
  margin-bottom: 20px;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #343a40;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #b1bdc8;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #657587;
}

.attendee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
